# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
HazemApli.iml
pom.xml
/.idea/vcs.xml
src/test/
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/
target/generated-sources/
target/hazemel-api-1.0-SNAPSHOT-shaded.jar
target/maven-archiver/
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/
target/original-hazemel-api-1.0-SNAPSHOT.jar
target/test-classes/
